body{
	    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}
div.body p{
	line-height: 1.6em;
    margin-bottom: .8em;
    font-size: 1.2em;
    color: #000;
}
.author-desc p{
	font-size: 1.1em!important;
    color: #555!important;
}
a.footnote-reference {
    font-size: 0.3em!important;
}

.footnote *{
	line-height: 1.2em!important;
	font-size: 1.0em!important;
	color: #555;
}
.subtitle >p{
	font-style: italic!important;
	color: #777!important;
    font-size: 1.1em!important;
}